main {
  background-image: url("https://wallpapercave.com/wp/wp4110703.jpg");
  background-color: #cccccc;
  color: white;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.modal-body, .modal-title {
  color: black;
}